
body{
    margin: 0;
}
.Tabela-1, .Tabela-2, .Tabela-Preco {
    display: inline-block; /* Coloca as tabelas em linha */
    vertical-align: top; /* Alinha as tabelas pela parte superior */
    text-align: center; /* Centraliza o texto dentro das tabelas */
    margin: 0 10px; /* Adiciona um espaço entre as tabelas (pode ajustar conforme necessário) */
}


.image{
    text-align: center;
    background-color: rgb(252, 183, 105);
    margin: 0;
}
form{
    margin-bottom: 20;
    text-align: center;
    background-color: azure;
}
.poesia{
    margin: 0;
    text-align: center;
    background-color: azure;
}

.poesia h1,p{
    padding: 10px;
    margin: 0;
}

.Fun{
    text-align: center; /* Centraliza o texto dentro das tabelas */
    margin: 0 10px;
    font-weight: bold;
}
/* Estilos adicionais para melhorar a legibilidade das tabelas, opcional */
table {
    width: 80%; /* Define a largura da tabela */
    border-collapse: collapse; /* Combina as bordas das células */
    margin-bottom: 25px; /* Adiciona espaço entre as tabelas */
}


th, td {
    
    border-radius: 20px;
    padding: 10px; /* Adiciona espaçamento interno às células */
    border: 1px solid #ccc; /* Adiciona bordas às células */
}


footer {
    text-align: center;
    background: url("image/imageFooter.jpg");
    padding: 40px 0;
}


.baseboard p {
    color: #FFFFFF;
    font-style: italic;
    font-size: 10px;
}